header {
    background-color: black;
    color: white;
    border-bottom: 3px solid white;
    margin-bottom: 30px;
    padding: 5px 20px;
    @include flex(row, space-between, center, nowrap);
    .logo {
        @include flex(row, flex-start, center, nowrap);
    }
    img {
        width: 50px;
        margin-right: 25px;
    }
}

.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    color: white;
    @include flex(row, center, center, wrap);
}
.album {
    margin: 20px;
    padding: 15px;
    background-color: black;
    @include flex(column, center, center, nowrap);
    .description {
        @include flex(column, center, center,nowrap)
    }
}
.title {
    display: block;
    font-size: 20px;
    margin: 10px 0;
}
.author {
    color: lightgrey;
    display: block;
    margin-bottom: 10px;
}
.year {
    font-size: 12px;
}
.noresults {
    
        display: none;
    
    
}
.active {

    display: block;
    //@include flex(row, center, center, nowrap);
    span {
        color: white;
        
    }
}
